<div class="flex-container">
  <div class="flex-items"><mat-form-field>
      <div>
        <mat-toolbar>
          <input matInput [value]="fileName" />
          <button mat-flat-button color="primary" [disabled]="uploadFiles.length == 0" (click)="upload()">
            Upload
          </button>
        </mat-toolbar>

        <input type="file" id="fileInput" accept=".xml" (change)="selectFile($event)" name="fileInput" multiple />
      </div>
    </mat-form-field>
  </div>
</div>

<ng-container *ngFor="let file of currentFile">
  <app-item-upload [data]="file"></app-item-upload>
</ng-container>

