.progress-bar
    padding: 0

.progress
    width: 50px

#fileInput
    position: absolute
    cursor: pointer
    z-index: 10
    opacity: 0
    height: 100%
    left: 0px
    top: 0px

.mat-toolbar-single-row
    height: auto !important
    background: transparent
    padding: 0

    & button
        width: 100px

.mat-form-field
    width: 100%

.message
    background-color: #ddd
    padding: 15px
    color: #333
    border: #aaa solid 1px
    border-radius: 4px
    margin-bottom: 10px

.mat-mdc-form-field
    width: 100%

.flex-container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: normal
    align-items: normal
    align-content: normal
    justify-content: center
    margin-top: 20px

.flex-items:nth-child(1)
    display: block
    flex-grow: 0
    flex-shrink: 1
    flex-basis: auto
    align-self: auto
    order: 0
    width: 550px
