<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Upload Agentes App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>file_upload</mat-icon>
      <span>Upload</span>
    </button>
    <button mat-menu-item routerLink="/reports">
      <mat-icon>bar_chart</mat-icon>
      <span>Reports</span>
    </button>
  </mat-menu>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>