<div class="flex-container">
    <div class="flex-items">
        <mat-toolbar class="progress-bar">
            <span class="file-name">{{fileName}}</span>
            <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
            <span class="progress">{{ progress }}%</span>
        </mat-toolbar>
        <div *ngIf="message" class="message">
            {{ message }}
          </div>
    </div>
</div>

<app-mat-spinner-overlay overlay="{{loader}}">
</app-mat-spinner-overlay>