.file-name
    padding-right: 20px

.flex-container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: normal
    align-items: normal
    align-content: normal
    justify-content: center

.flex-items:nth-child(1)
    display: block
    flex-grow: 0
    flex-shrink: 1
    flex-basis: auto
    align-self: auto
    order: 0
    width: 550px
