table
    width: 100%

.example-form
    min-width: 150px
    max-width: 500px
    width: 100%
    margin-top: 50px

.example-full-width
    width: 50%

.button-filter
    height: 52px
    border-radius: 16px
    margin-left: 10px

td , th
    white-space: normal
    word-wrap: break-word
    max-width: 200px
