<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Filtro</mat-label>
    <input matInput [(ngModel)]="filterValue" (keyup)="getReportFiltered()" name="sigla" placeholder="Sigla">
  </mat-form-field>
  <button mat-flat-button color="primary" class="button-filter" (click)="getReportFiltered()">Filtrar</button>

</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="sigla">
    <th mat-header-cell *matHeaderCellDef> Sigla </th>
    <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
  </ng-container>

  <ng-container matColumnDef="lista_valores_geracao">
    <th mat-header-cell *matHeaderCellDef> Lista valores Geração </th>
    <td mat-cell *matCellDef="let element"> {{element.lista_valores_geracao}} </td>
  </ng-container>

  <ng-container matColumnDef="qtd_geracao">
    <th mat-header-cell *matHeaderCellDef> Quantidade valores Geração </th>
    <td mat-cell *matCellDef="let element"> {{element.qtd_geracao}} </td>
  </ng-container>

  <ng-container matColumnDef="lista_valores_compra">
    <th mat-header-cell *matHeaderCellDef> Lista valores Geração </th>
    <td mat-cell *matCellDef="let element"> {{element.lista_valores_compra}} </td>
  </ng-container>

  <ng-container matColumnDef="qtd_compra">
    <th mat-header-cell *matHeaderCellDef> Quantidade valores Compra </th>
    <td mat-cell *matCellDef="let element"> {{element.qtd_compra}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>